extends layout

block content
  h1= movie.title
  img(src=movie.images.large)
  p= movie.year
  p= movie.rating.average
  p= movie.countries
  p= movie.genres
  p= movie.summary
        
  div(class="row")
    for cast in movie.casts
      - var imgurl = cast.avatars.small
      - var delegateurl = "https://images.weserv.nl/?url=" + imgurl.substr(7,imgurl.length)
      div(class="col-3")
        img(src=delegateurl)
        p= cast.name