extends layout

block content
	h1= 'Hot Movies This Week'
	p @ Movie Night

	table.table
		thead
			tr
				th Title
				th Durations
				th Original Title
				th Rating
				th Genres
				th
		tbody
			for movie in movies.subjects
				tr
					td= movie.subject.title
					td= movie.subject.durations
					td= movie.subject.original_title
					td= movie.subject.rating.average
					td= movie.subject.genres
					td: a(href='/details/' + movie.subject.id) More Info
block footer
	p Thanks <a href='https://www.douban.com/'>douban.com</a>